label{
  color: linen;

}

.container{
  margin-top: 50px;


}

.studentInformation{
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border: solid gray 3px;
  background: #31708f;

}

.resultInformation{
  margin: 0 auto;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid gray 3px;
  background:gray;

}

th{
  color:yellowgreen;
}

td{
  color:white;
}